<div class="row" >
    <div class="col-lg-4 col-sm-4">
        Panel del Administrador
        <p>Desde aqui podrás administrar los datos de la aplicacion:
            
        </p>
        <ol>
            <li>Gestionar Facturas
                <ol>
                    <ul>Dar de alta Facturas</ul>
                    <ul>Añadir detalles a Facturas</ul>
                    <ul>Modificar los Detalles</ul>
                    <ul>Eliminacion de Detalles y Facturas</ul>
                </ol>
            </li>
            
            <li>Gestionar Usuarios
                <ol>
                    <ul>Dar de Alta Usuario </ul>
                    <ul>Modificar datos</ul>
                    <ul>Eliminar Usuario</ul>
                </ol>
            </li>

            <li>Gestionar Productos
                <ol>
                    <ul>Dar de Alta Productos </ul>
                    <ul>Modificar Productos</ul>
                    <ul>Eliminar Productos</ul>
                </ol>
            </li>

        </ol>
    </div>
    <div class="col-lg-8 col-sm-4">
        <div class="row" >

            <div class="col-lg-6 col-sm-6">
                    <div class="circle-tile">
                       <a  routerLink="/personas-listar" >
                            <div class="circle-tile-heading dark-blue">
                                <i class="fa fa-users fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded">
                                Usuarios
                            </div>
                            
                            <a routerLink="/personas-listar"  class="circle-tile-footer">Gestionar Usuarios <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-6 col-sm-6">
                    <div class="circle-tile">
                       <a  routerLink="/factura-listar" >
                         <div class="circle-tile-heading blue">
                                <i class="fa fa-tasks fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content blue">
                            <div class="circle-tile-description text-faded">
                                Facturas
                            </div>
                            
                            <a  routerLink="/factura-listar" 
                                class="circle-tile-footer">Gestionar Facturas <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                         <div class="circle-tile">
                        <a routerLink="/producto-listar">
                            <div class="circle-tile-heading red">
                                <i class="fa fa-shopping-cart fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content red">
                            <div class="circle-tile-description text-faded">
                                Productos
                            </div>
                            <a  routerLink="/producto-listar" 
                            class="circle-tile-footer">Gestionar Productos <i class="fa fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                            <div class="circle-tile">
                               <a  routerLink="/factura-listar" >
                                 <div class="circle-tile-heading blue">
                                        <i class="fa fa-location-arrow fa-fw fa-3x"></i>
                                    </div>
                                </a>
                                <div class="circle-tile-content blue">
                                    <div class="circle-tile-description text-faded">
                                        Categorias
                                    </div>
                                    
                                    <a  routerLink="/categoria-listar" 
                                        class="circle-tile-footer">Gestionar Categoria <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
               
            </div>

    </div>
 
</div>
                            