<table class="table">
  <thead>
    <tr>
      <th>
          <div *ngIf="is_insert">
              <app-categoria-add (onNew)="onNewPettype($event)">...</app-categoria-add>
            </div>
      </th>
      <th>
          <button class="btn btn-primary" (click)="mostrarAnadeCategory()"> {{textoBoton}} </button>

      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     
    <tr *ngFor="let category of categorias; let element_id=index">
      <td>
        <input required  element_id [readonly]="editando(element_id)" #name type="text" class="form-control" [(ngModel)]="category.NOMBRE" name="category_name" />    
      </td>
      <td>
        <button class="btn btn-secondary" (click)="editCategory(category, name, element_id)"><span *ngIf="!editando(element_id)">Cancelar</span> <span *ngIf="editando(element_id)">Editar</span></button>

        <button *ngIf="!editando(element_id)" class="btn btn-info ml-2"(click)="updateCategory(category)" [disabled]="editando(element_id)">Guardar</button>

        <button *ngIf="editando(element_id)" class="btn btn-danger ml-2" (click)="abrirMensajeConfirm(category)">Borrar</button>
      </td>
    </tr>
   
  </tbody>
</table>