<ngb-carousel class="slider">
  <ng-template ngbSlide>
      <img src="../../../assets/generales/portada.jpg">
          
  </ng-template>
  <ng-template ngbSlide>
          <img src="../../../assets/generales/portada1.jpg">
          
  </ng-template>
  <ng-template ngbSlide>
          <img src="../../../assets/generales/portada2.jpg">
  </ng-template>
</ngb-carousel>

<section class="bg-about bg-section" id="about">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-5">

              <div class="hov-img">
                  <img src="../../../assets/generales/portada3.jpg" class="hov-img-bottom img-fluid">
                  <div class="hov-img-top hov-img-slideup">
                      <div class="hov-img-text">
                          <h5>Los mejores productos alimenticios</h5>
                          <p> Compramos y vendemos solo buenas calidades en el sector del mercado </p>
                      </div>
                  </div>
              </div>
              
          </div>

          <div class="col-sm-7">
              <div class="row ">
                  <div class="restaurant-history slideanim text-center">
                      <h3 class="section-heading">¿Quienes Somos?</h3>
                      <p class="about-history first"> 
                          El 58 Tour Eiffel le da la bienvenida en un entorno único: 
                          una decoración ultra contemporánea de Patrick Jouin, 
                          una cocina abierta para admirar el trabajo de los cocineros 
                          y las grandes ventanas para ofrecerle lo mejor de París. 
                          
                          El metal emblemático de la Torre Eiffel se encuentra en todas partes hasta la majestuosa escalera que da acceso al segundo nivel.
                      </p>
                  </div>
              </div>
          </div> 
      </div>     
  </div>
</section>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8" >
            <h2 class="h2">
            UNA VISTA FUERA DE LO COMÚN
            </h2>
            <hr class="ornamental">
            <div>
                Completamente acristalado, el restaurante ofrece una vista impresionante del Trocadero, el Palais de Chaillot y la belleza de la estructura metálica de la Dama de Hierro. 
                Durante el día, la luz natural de los ventanales ilumina el restaurante. 
                Al final del día, te ofrecen el espectáculo de una hermosa puesta de sol. 
                Al caer la noche, sus ojos se sentirán atraídos por la belleza del interior de la iluminada Torre Eiffel.
                En el programa, el juego de la luz sublima su estructura metálica y su encaje metálico.
            </div>
                
        </div>
        <div class="col-sm-4" >
            
<img src="../../../assets/generales/portada4.jpg" class="homeImagen">
        </div>
        
    </div>
    
</div>
<div class="bloc-container">
      <div class="row">
              <div class=" col-md-8 col-sm-12">
                      <img src="../../../assets/generales/portada4.jpg" style="width: 100%;">
              </div>
              <div class="col-md-4 col-sm-12" >
                <h2 class="h2">UN NUEVO CONCEPTO     </h2>
                <hr class="ornamental">
                <div>
                    Signo especial de la Torre Eiffel 58: una doble vida. 

                    Dos ambientes como 2 lugares diferentes:
                    
                    En el almuerzo, un ambiente familiar y relajado.
                    
                    Por la noche, iluminación suave, cocina refinada en un ambiente acogedor. 
                </div>
                <h2 class="h2"> COCINA FRANCESA REVISITADA   </h2>
                <hr class="ornamental">
                <div>
                    Thierry Marx y su equipo ofrecen una revisión de la cocina francesa. 

                    Los productos nobles y sabores magnificados se revelan a lo largo de la noche. 
                    
                    "Mi gramática de cocina se basa en tres pilares: dominio del gesto, el fuego y el tiempo" 
                    Thierry Marx    
                </div>
                </div>

    </div>
  
</div>

<div id="photos">
  <h1 class="mb-5 text-center">NUESTRA CARTA</h1>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item">

              <img class="card-img-top" src="../../../assets/generales/portada5.jpg">
              
              <a href="#"><h2>Carnes</h2></a>

          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img class="card-img-top" src="../../../assets/generales/portada6.jpg">
              <a href="#"><h2>Pescado</h2></a>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img class="card-img-top" src="../../../assets/generales/portada7.jpg">
              <a href="#"><h2>Entrantes</h2></a>
          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img class="card-img-top" src="../../../assets/generales/portada8.jpg">

              <a href="#"><h2>Cocteles</h2></a>

          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img class="card-img-top" src="../../../assets/generales/portada9.jpg">

              <a href=""><h2>Postres</h2></a>

          </div>
          <div class="col-lg-4 col-sm-6 portfolio-item">
              <img class="card-img-top" src="../../../assets/generales/portada10.jpg">

              <a href="#"><h2>Pastas</h2></a>

          </div>

      </div>
  </div>
</div>
<footer class="nb-footer">
<div class="container">
  <div class="row">
      <div class="col-sm-12">
      <div class="about">
          <h2 class="h2">¿POR QUÉ ESTE NOMBRE? </h2>
          <hr class="ornamental">
          <p>"58 Torre Eiffel" pero ¿por qué este nombre?  Cuente 57 metros sobre el suelo, 
          agregue 1 metro, la altura del piano de la cocina  y estará allí ...</p>
          <div class="social-media">
              <ul style="display: inline-flex;">
                  <li><a href="https://www.facebook.com/" title=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/?lang=es/" title=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.google.es/" title=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://www.linkedin.com/feed/" title=""><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
       </div>        
  </div>
</div>

</footer>
